.popup-images__close {
    background-image: url(../../../images/CloseIcon.svg);
    background-color: rgba(0, 0, 0, 0);
    width: 32px;
    height: 32px;
    border: none;
    padding: 0;
    transition: opacity .2s;
    margin-left: 8px;
}

.popup-images__close:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .popup-images__close {
        background-image: url(../../../images/CloseIconm.svg);
        width: 20px;
        height: 20px;
        margin-bottom: 16px;
        margin-left: 0;
        place-self: end;
    }
}