.popup-images {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: fixed;
    display: flex;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s linear;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, .5);
}