.profile__proff {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 294px;
    }
    
@media screen and (max-width: 725px) {
    .profile__proff {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 8px;
        max-width: 189px;
    }
}