.profiles {
    max-width: 880px;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 40px auto 0;
    justify-content: space-between;
  }
  
  @media screen and (max-width: 725px) {
      .profiles {
          flex-direction: column;
          margin-top: 42px;
      }
  }