.footer__copyright {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    justify-content: flex-start;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 1.21;
        margin-left: 19px;
    }
  }