.info__add {
    width: 150px;
    height: 50px;
    background-image: url(../../../images/Add\ Button.svg);
    background-color: black;
    border: none;
    padding: 0;
    align-self: center;
    transition: opacity .2s;
}

.info__add:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 725px) {
   .info__add {
        background-image: url(../../../images/AddButton.svg);
        width: 282px;
        height: 50px;
        margin-top: 36px;
   }
}
