.info__edit {
    background-image: url(../../../images/Edit\ Button.svg);
    background-color: black;
    padding: 0;
    border: none;
    width: 24px;
    height: 24px;
    margin-top: 15px;
    transition: opacity .2s;
}

.info__edit:hover {
    opacity: .6;
    cursor: pointer;
}

@media screen and (max-width: 720px) {
    .info__edit {
        background-image: url(../../../images/Edit\ Button\ \(2\).svg);
        margin-top: 8px;
        width: 18px;
        height: 18px;
    }
}
